 /* Desktop Menu */
 
 ul.topnav { 
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: #aaa;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
  font-size: 17px;
}

ul.topnav li a:hover {
  background-color: rgba(82, 82, 82, 0.445);
}

ul.topnav li.icon {
  display: none;
}

/* Mobile Menu */

@media screen and (max-width:680px) {

  ul.topnav li {
    display: none;
  }

  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

}
